---
import RootLayout from "@/layouts/RootLayout.astro";
import GenericContent from "@/layouts/GenericContent.astro";
import Alert from "@/components/ui/astro/Alert.astro";
import Faq from "@/components/about/Faq.astro";
import { PlankRenderer } from "@am25/plank-react-renderer";
import { getAbout } from "@/lib/plank/fetch";
import type { About } from "@/types";

const entry: About = await getAbout();
---

<RootLayout title="About | AM25">
  <GenericContent title="About" quote={entry.quote}>
    <PlankRenderer content={entry.description} />

    <a href="/branding">
      <Alert variant="info" class="mt-8">
        <span slot="title">Curious enough?</span>
        <p>Fine. Meet AM25 and see what we actually do.</p>
      </Alert>
    </a>
  </GenericContent>

  <Faq items={entry.faq} />
</RootLayout>
