---
export const prerender = true;

import RootLayout from "@/layouts/RootLayout.astro";
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import ServicesForm from "@/components/contact/ServicesForm.astro";
import { ArrowUpRightIcon } from "@lucide/astro";
import Alert from "@/components/ui/astro/Alert.astro";
---

<RootLayout
  title="Project Inquiries - AM25"
  description="We are an independent creative studio."
  image="https://am25.work/og-image.png"
  url="https://am25.work/contact"
>
  <GridContainer class="mb-16">
    <GridTwo class="mb-8">
      <div class="col-span-full">
        <h1 class="text-3xl md:text-4xl font-bold uppercase">
          Project Inquiries
        </h1>

        <div class="flex flex-col space-y-2 mt-6">
          <a
            href="https://wa.me/message/ZW5NRUU3HCGUO1"
            target="_blank"
            rel="noopener"
            class="flex items-center text-neutral-500 group-data-[variant=yellow]:text-black text-lg md:text-xl w-fit hover:underline"
          >
            WhatsApp<ArrowUpRightIcon size={24} class="shrink-0" />
          </a>
          <a
            href="mailto:projects@am25.work"
            target="_blank"
            rel="noopener"
            class="flex items-center text-neutral-500 group-data-[variant=yellow]:text-black text-lg md:text-xl w-fit hover:underline"
          >
            Email<ArrowUpRightIcon size={24} class="shrink-0" />
          </a>
          <a
            href="https://www.instagram.com/am25std"
            target="_blank"
            rel="noopener"
            class="flex items-center text-neutral-500 group-data-[variant=yellow]:text-black text-lg md:text-xl w-fit hover:underline mt-8"
          >
            Instagram<ArrowUpRightIcon size={24} class="shrink-0" />
          </a>
        </div>
      </div>
    </GridTwo>

    <GridFour>
      <div class="col-span-full">
        <ServicesForm />

        <a href="/contact/general">
          <Alert variant="info" class="mt-4">
            <span slot="title">General inquiries?</span>
            <p>
              This contact form one’s for projects. If that’s not you, GO HERE
              INSTEAD.
            </p>
          </Alert>
        </a>
      </div>
    </GridFour>
  </GridContainer>
</RootLayout>
