---
import RootLayout from "@/layouts/RootLayout.astro";
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import { ProseRenderer } from "@/components/ProseRenderer";
import { getPlank } from "@/lib/plank/fetch";
import { BannerPoweredBy } from "@/components/PoweredBy";

const entry = await getPlank();
const title = "Plank CMS";
---

<RootLayout title={`${title} | AM25`}>
  <GridContainer class="mb-16">
    <GridTwo />

    <GridFour>
      <div class="col-span-full">
        <div class="flex flex-col items-center justify-center gap-16 mb-8">
          <img src={entry.logo} alt="Plank CMS" class="h-48" />

          <h1 class="text-3xl md:text-4xl font-bold uppercase">Plank CMS</h1>
        </div>

        <ProseRenderer content={entry.content} />

        <div class="pt-8">
          <a
            href="https://labs.am25.work/project/plank/"
            target="_blank"
            rel="noopener"
          >
            <BannerPoweredBy
              logoSrc="/plank-logo-w.svg"
              logoAlt="Plank CMS"
              text="Try Plank CMS for free"
              mode="dark"
            /></a
          >
        </div>
      </div>
    </GridFour>
  </GridContainer>
</RootLayout>
