---
import GridContainer from "@/layouts/GridContainer.astro";
import WorkCard from "@/components/WorkCard.astro";
import type { WorkCardProps } from "@/types";

const repos: WorkCardProps[] = [
  {
    logo: "/placeholder.svg",
    title: "Lorem Ipsum",
    href: "/",
    category: "Design",
  },
  {
    logo: "/placeholder.svg",
    title: "Lorem Ipsum",
    href: "/",
    category: "Design",
  },
  {
    logo: "/placeholder.svg",
    title: "Lorem Ipsum",
    href: "/",
    category: "Design",
  },
  {
    logo: "/placeholder.svg",
    title: "Lorem Ipsum",
    href: "/",
    category: "Design",
  },
];
---

<GridContainer class="pb-8">
  <div class="col-span-2">
    <h2 class="text-muted-foreground text-sm font-bold uppercase">
      Featured work
    </h2>
  </div>
</GridContainer>

<GridContainer class="pb-16">
  {
    repos.map((repo) => (
      <div class="col-span-2">
        <WorkCard {...repo} />
      </div>
    ))
  }
</GridContainer>
