---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import { AccordionWrap } from "@/components/ui/custom/Accordion";
import type { Service } from "@/types";

interface Props {
  services: Service[];
}

const { services } = Astro.props;
---

<GridContainer class="pb-24">
  <GridTwo>
    <span class="col-span-full">
      <h2
        class="text-muted-foreground group-data-[variant=yellow]:text-black text-sm font-bold uppercase"
      >
        Main services
      </h2>
    </span>
  </GridTwo>

  <GridFour>
    <div class="col-span-full">
      <AccordionWrap items={services} client:load />
    </div>
  </GridFour>
</GridContainer>
