---
import { Separator } from "@/components/ui/separator";

const year = new Date().getFullYear();
---

<Separator />

<footer class="max-w-7xl mx-auto w-full px-4 py-8">
  <div class="text-neutral-500 text-xs text-center md:text-left uppercase">
    <a
      href="https://alemartir.com/copyright"
      target="_blank"
      rel="noopener"
      class="hover:underline"
      title="Alejandro Mártir"
    >
      &copy; {year} Alejandro Mártir - AM25
    </a>
  </div>
</footer>
