---
import GridContainer from "@/layouts/GridContainer.astro";
import GridTwo from "@/layouts/grids/GridTwo.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import ProseContent from "@/components/ProseContent.astro";
import { CalendarClockIcon } from "@lucide/astro";

interface Props {
  title: string;
  updated: string;
}

const { title, updated } = Astro.props;
---

<GridContainer class="mb-16">
  <GridTwo>
    <div class="col-span-full">
      <h1 class="text-3xl md:text-4xl font-bold uppercase">{title}</h1>

      <span
        class="flex items-center gap-2 text-sm text-muted-foreground mt-6"
        title="Updated At"
      >
        <CalendarClockIcon size={16} />
        {updated}
      </span>
    </div>
  </GridTwo>

  <GridFour>
    <div class="col-span-full">
      <ProseContent>
        <slot />
      </ProseContent>
    </div>
  </GridFour>
</GridContainer>
