---
import GridContainer from "@/layouts/GridContainer.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import { Table, TableBody, TableRow, TableCell } from "@/components/ui/table";
interface Props {
  client?: string | null;
  campaign?: string | null;
  agency?: string | null;
  country?: string | null;
  creative?: string | null;
  strategy?: string | null;
  lead_design?: string | null;
  design?: string | null;
  copy?: string | null;
  illustration?: string | null;
  animation?: string | null;
  photo?: string | null;
  developer?: string | null;
  work_team?: string | null;
}

const {
  client,
  campaign,
  agency,
  country,
  creative,
  strategy,
  lead_design,
  design,
  copy,
  illustration,
  animation,
  photo,
  developer,
  work_team,
} = Astro.props;

const items = [
  { label: "Client", value: client },
  { label: "Campaign", value: campaign },
  { label: "Agency", value: agency },
  { label: "Country", value: country },
  { label: "Creative", value: creative },
  { label: "Strategy", value: strategy },
  { label: "Lead", value: lead_design },
  { label: "Design", value: design },
  { label: "Copy", value: copy },
  { label: "Illustration", value: illustration },
  { label: "Animation", value: animation },
  { label: "Photo", value: photo },
  { label: "Developer", value: developer },
  { label: "Team", value: work_team },
].filter((item) => item.value);
---

{
  items.length > 0 && (
    <GridContainer class="my-0">
      <GridFour />

      <GridFour>
        <div class="col-span-full">
          <Table>
            <TableBody>
              {items.map((item) => (
                <TableRow className="group-data-[variant=yellow]:hover:bg-muted/10 group-data-[variant=light]:hover:bg-muted/10">
                  <TableCell className="font-bold uppercase">
                    {item.label}
                  </TableCell>
                  <TableCell>{item.value}</TableCell>
                </TableRow>
              ))}
            </TableBody>
          </Table>
        </div>
      </GridFour>
    </GridContainer>
  )
}
