---
import FormatContent from "@/components/FormatContent";
import GridContainer from "@/layouts/GridContainer.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
import type { StrapiImage, RichTextBlock } from "@/types";

interface Props {
  title: string;
  cover: StrapiImage;
  description?: RichTextBlock[];
}

const { title, cover, description } = Astro.props;
---

<GridContainer>
  <div class="col-span-full">
    <div class="aspect-square relative md:aspect-video">
      <img src={cover.url} alt={title} class="object-cover w-full h-full" />
    </div>
  </div>

  <GridFour class="mt-4">
    <div class="col-span-full">
      <h1 class="text-3xl md:text-4xl font-bold uppercase">
        {title}
      </h1>
    </div>
  </GridFour>

  <GridFour class="mt-4">
    <div class="col-span-full">
      {description && <FormatContent blocks={description} />}
    </div>
  </GridFour>
</GridContainer>
