---
import { ProseRenderer } from "@/components/ProseRenderer";
import GridContainer from "@/layouts/GridContainer.astro";
import GridFour from "@/layouts/grids/GridFour.astro";
interface Props {
  title: string;
  cover: string | null;
  description?: string | null;
}

const { title, cover, description } = Astro.props;
---

<GridContainer>
  <div class="col-span-full">
    <div class="aspect-square relative md:aspect-video">
      <img src={cover} alt={title} class="object-cover w-full h-full" />
    </div>
  </div>

  <GridFour class="mt-4">
    <div class="col-span-full">
      <h1 class="text-3xl md:text-4xl font-bold uppercase">
        {title}
      </h1>
    </div>
  </GridFour>

  <GridFour class="mt-4">
    <div class="col-span-full">
      {description && <ProseRenderer content={description} />}
    </div>
  </GridFour>
</GridContainer>
